@inject InMemoryStorageService storage;
@inject NavigationManager navigation;
@page "/new-item"

<div class="new-item">
    <h1 class="center-aligned">New Tech Debt Item</h1>

    <div>
        <p class="center-aligned">Enter a new Tech Debt Item</p>
        <EditForm Model="@Item" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <div class="fields">
                <label>
                    Title
                    <InputText @bind-Value="Item.Title" placeholder="Enter the title..." />
                </label>
                <label>
                    Description
                    <InputText @bind-Value="Item.Description" placeholder="How bout dat description?" />
                </label>
                <label>
                    Estimated date of effect
                    <InputDate @bind-Value="Item.EstimatedDateOfIncident" DisplayName="Estimated Date of Effect" />
                </label>
                <ValidationSummary />
                <button class="create-button" type="submit">Create</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    public TechDebtItem Item { get; set; } = new TechDebtItem();

    public void HandleValidSubmit()
    {
        storage.Add(new InMemoryStorageItem(Item));
        navigation.NavigateTo("/");
    }
}
